sklearn
pickle4
gunicorn
numpy
pandas
Flask
scikit-learn
certifi
chardet
click
idna
itsdangerous
Jinja2
joblib
jsonify
MarkupSafe
requests
scipy
threadpoolctl
urllib3
Werkzeug
wincertstore
