Flask
importlib-metadata
itsdangerous
Jinja2
matplotlib
numpy
pandas
pickleshare
scikit-learn
scipy
seaborn
sklearn
gunicorn
pickle4
argcomplete
backcall
click
colorama
cycler
debugpy
decorator
ipykernel
ipython
ipython-genutils
jedi
joblib
jupyter-client
jupyter-core
kiwisolver
MarkupSafe
matplotlib
matplotlib-inline
nest-asyncio
parso
pickleshare
Pillow
prompt-toolkit
Pygments
pyparsing
python-dateutil
pytz
pyzmq
six
threadpoolctl
tornado
traitlets
typing-extensions
wcwidth
Werkzeug
zipp
